form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-10%);
    margin-top: 30px;
}
.inputs{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
}
p{
    color:aliceblue;
    font-weight: 300;
    text-align: right;
    padding-right: 40px;
}
.title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
}
.amount{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.date{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btn{
    width:40%;
    height: 30px;
    margin-left: 50%;
    transform: translateX(-20%);
    margin-top: 20px;
    background-color: rgba(0, 255, 255, 0.591);
    border: none;
    transition: all 200ms ease-in-out;
}
.btn:hover{
    background-color: aqua;
    cursor: pointer;
    width: 50%;
    font-size: large;
    font-weight: 400;
}
@media (max-width: 700px){
    .form{
        width:80%;
        margin-left: 40px;
    }
    input[type="date"]{
        width: 170px;
    }
}